<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    <h1>Checkout</h1>
</header>

<div style="max-width:800px; margin:40px auto;">

    <div class="card">

        <div class="card-content">

            <h2>Order Confirmation</h2>

            <p>Thank you for shopping with TechStore.</p>

            <p>Your order has been placed successfully.</p>

            <br>

            <a href="/" class="btn">
                Continue Shopping
            </a>

        </div>

    </div>

</div>

</body>
</html>